/*Global Styling*/

* {
    margin: 0; 
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0; 
    padding: 0;
}

canvas {
    width: 50%;               
    height: auto;             
   
}

/* Styling for 3D Icons */

/* React Icon Styling */
.react-icon-container{
    float: right;
    height: 50vh;  
    width: 30vw; 
    background-color: transparent;
}

/* Git Icon Styling */
.git-icon-container {
    height: 65vh;  
    width: 40vw; 
    margin-right: -15em;
    float: right;
    background-color: transparent;
}

/* CSharp Icon Styling */
.csharp-icon-container{
    float: right;
    height: 50vh;  
    width: 30vw; 
    background-color: transparent;
    margin-right: 1em;
}

/* Python Icon Styling */
.python-icon-container{
    float: right;
    height: 50vh;  
    width: 30vw; 
    background-color: transparent;
    margin-right: 1em;
}


/* Header Styling */
.header{
    background: linear-gradient(90deg, #6a26d8, #2cfff4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-decoration: none;

}

.header h1{
    font-size: 4em;
    margin: 30px;
}

.header a{
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.header a:hover{
    text-decoration: none;
    color: #0a00946b;
}

.header p{
    font-size: 2em;
    margin: 30px;

}

.header-navigation{
    margin: 0 15px;
    display: flex; 
    justify-content: flex-end; 
    gap: 20px
}

/* Section Styling */
.section-parent{
    background-color: rgb(241, 241, 241);
    padding: 40px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-child{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
}

.section-parent h1{
    font-size: 4em;
    line-height: 1;
}

.section-parent h2{
    font-size: 2em;
    line-height: 2;
}

.section-parent h3{
    font-size: 1.5em;
    line-height: 1.5;
}



/* Footer Styling */
.footer{
    background: linear-gradient(90deg, #6a26d8, #2cfff4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px; 
    text-align: center;
}

.footer-links{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.footer-links a:hover {
    text-decoration: none;
    color: #0a00946b;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer p{
    color: wheat;
    padding: 0.5em;
}

.footer a:last-child p:hover{
    color: #0a00946b;
}

