/*Global Styling*/

/*React Icon Container*/

.react-icon-container{
    float: right;
    height: 50vh;  
    width: 30vw; 
    background-color: transparent;
}

/*End of React Icon Container*/



canvas {
    width: 50%;               
    height: auto;             
   
}

/* Start of Python Icon Contianer Styling */

.python-icon-container{
    float: right;
    height: 50vh;  
    width: 30vw; 
    background-color: transparent;
    margin-right: 8em;
}

/* End of Python Icon Container Styling*/


* {
    margin: 0; 
    padding: 0;
}

/*git icon container styling*/

/*
    PREVIOUS GIT ICON STYLING:
    
    float: right;
    height: 65vh;  
    width: 40vw; 
    background-color: transparent;
*/

.git-icon-container {
    height: 65vh;  
    width: 40vw; 
    margin-right: -15em;
    float: right;
    background-color: transparent;
}

/**/

/*Header Styling*/

.header{
    background: linear-gradient(90deg, #6a26d8, #2cfff4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-decoration: none;

}

.header h1{
    font-size: 4em;
    margin: 30px;
}

.header a{
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.header a:hover{
    text-decoration: none;
    color: #0a00946b;
}

.header p{
    font-size: 2em;
    margin: 30px;

}

.header-navigation{
    margin: 0 15px;
    display: flex; 
    justify-content: flex-end; 
    gap: 20px
}



/*End of Header Styling*/

/*Start of Xyz styling*/

/*
background: linear-gradient(90deg, #6a26d8, #2cfff4);

/*ABOUT ME STYLING START*/

.about-me-parent{
    background-color: rgb(241, 241, 241);
    padding: 40px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me-child{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me-parent h1{
    font-size: 4em;
    line-height: 1;
}

.about-me-parent h2{
    font-size: 2em;
    line-height: 2;
}

.about-me-parent h3{
    font-size: 1.5em;
    line-height: 1.5;
}

/*end of about me stlying*/

/*STYLING FOR PROJECTS SECTION*/

.projects{
    background-color: rgb(255, 126, 126);
    padding: 40px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}




/*Styling for Contact Me*/

.contact{

}

.contact h1{
    font-size: 1.5em;
    color: #000000;
}

/*footer styling*/

.footer{
    background: linear-gradient(90deg, #6a26d8, #2cfff4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px; 
    text-align: center;
}

.footer-links{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.footer-links a:hover {
    text-decoration: none;
    color: #0a00946b;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer p{
    color: wheat;
    padding: 0.5em;
}

.footer a:last-child p:hover{
    color: #0a00946b;
}

