/*Global Styling*/

/*React Icon Container*/

.react-icon-container{
    float: right;
    height: 50vh;  
    width: 30vw; 
    background-color: transparent;
}

canvas {
    width: 50%;               
    height: auto;             
   
}

/*End of React Icon Container*/

* {
    margin: 0; 
    padding: 0;
}

/*Header Styling*/

.header{
    background: linear-gradient(90deg, #6a26d8, #2cfff4);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.header h1{
    font-size: 4em;
    margin: 30px;
}

.header p{
    font-size: 2em;
    margin: 30px;

}

.header-navigation{
    margin: 0 15px;
    display: flex; 
    justify-content: flex-end; 
    gap: 20px
}

/*End of Header Styling*/

/*Start of Xyz styling*/

/*
background: linear-gradient(90deg, #6a26d8, #2cfff4);

/*ABOUT ME STYLING START*/

.about-me-parent{
    background-color: rgb(241, 241, 241);
    padding: 40px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me-child{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me-parent h1{
    font-size: 4em;
    line-height: 1;
}

.about-me-parent h2{
    font-size: 2em;
    line-height: 2;
}

.about-me-parent h3{
    font-size: 1.5em;
    line-height: 1.5;
}

/*end of about me stlying*/

/*STYLING FOR PROJECTS SECTION*/

.projects{
    background-color: rgb(255, 126, 126);
    padding: 40px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}




/*Styling for Contact Me*/

.contact{

}

.contact h1{
    font-size: 1.5em;
    color: #000000;
}